.sidebar-nav{
	margin-top: 130px;
}
.row{
	width: 700px;
}
.img-responsive{
	max-width: 400px;
	min-height: 400px;
}
#grad{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, cyan, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, cyan, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, cyan, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(bottom right, cyan, blue); /* Standard syntax */
}
#background1{
	background-color: black;
}
.color1{
	color: red;
	text-shadow: .5px .5px 5px blue;
}
